<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="~/css/AuthStyleSheet.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<title>@ViewData["Title"]</title>
</head>
<body class="form-v4">
	<div class="page-content">
		<div class="form-v4-content">
			@RenderBody()
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("ValidationSectionScripts", required: true)
</body>
</html>