@model int 
<td><a asp-action="Details" asp-route-id="@Model"><i class="fa fa-eye"></i></a></td>
<td><a asp-action="Edit" asp-route-id="@Model"><i class="fa fa-edit"></i></a></td>
<td><a asp-action="Delete" asp-route-id="@Model"><i class="fa fa-trash"></i></a></td>